<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net462" />
  <package id="NLog" version="4.3.11" targetFramework="net462" />
  <package id="NLog.Config" version="4.3.11" targetFramework="net462" />
  <package id="NLog.Schema" version="4.3.10" targetFramework="net462" />
  <package id="ParserLib-debug" version="1.5.79" targetFramework="net462" />
</packages>